
/* Main layout */
.main {
  display: flex;
  flex-direction: column;
  color: var(--darkGray);
  /* padding: 0 4em; */
  gap: 3rem;
  min-height: 20vw;
}

.main p {
  margin: 0;
}
.startHead {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main_bread {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: var(--darkGray);
  margin: 0 !important;
}
.breadContent {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--darkGray);
}
.headSection {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.headContent {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
  width: 70vw;
  margin: 0 !important;
}
.headDesc {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.headImg{
  background-size: cover;
  height: 55vh;
  border-radius: 16px;
  width: 100%;
}
.coursesTwo > * {
  width: 100%;
}

.coursesTwo {
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  gap: 2rem;
  width: 100%;
}

.researchHead{
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.heading{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--darkGray);
  margin: 0 !important;
  padding-left: 0.5rem;
  text-transform: capitalize;
}
.paper{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
@media (max-width : 600px){
  .researchHead{
    gap: 2em;
  }
  .paper{
    gap: 1em;
  }
  .coursesTwo{
    gap: 1em;
  }
}
@media (max-width: 900px) {
  .coursesTwo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .coursesTwo {
    grid-template-columns: 1fr;
  }
}
