.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.sidebarNavLink {
  display: block;
  padding: 0.8rem 0;
  color: var(--gray);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.25s ease, 
              color 0.25s ease, 
              padding-left 0.25s ease;
}

.sidebarNavLink:hover {
  background-color: var(--white);
  color: var(--moderate);
 
}

/* --- SIDEBAR CARDS --- */
.sidebarCard {
  border: 1px solid var(--lightGray);
  border-radius: 20px;
  overflow: hidden; /* Ensures header stays inside radius */
  background: var(--white);
}
.sidebarCard_round {
  padding: 6px;
}
.sidebarHeader {
  background-color: var(--second); /* Dark Background like screenshot */
  color: var(--white);
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 20px;
  border-radius: 20px;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0 2rem;
  margin-bottom: 0.5rem;
}

.sidebarItem {
  border-bottom: 1px solid var(--lightGray);
}

.sidebarItem:last-child {
  border-bottom: none;
}


/* Quick Links Style */
.quickLinkRow {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1rem 0.4rem;
  color: var(--darkGray);
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
   transition: background 0.2s, color 0.2s;
}

.quickLinkRow:hover {
  background-color: var(--white);
}

/* --- RESPONSIVE --- */
@media (max-width: 900px) {
  .detailsContainer {
    flex-direction: column;
  }

  .rightColumn {
    order: -1; /* Sidebar goes to top on mobile (optional, remove to keep at bottom) */
  }
}