
/* Main layout */
.main {
  display: flex;
  flex-direction: column;
  color: var(--black);
  /* padding: 0 4em; */
  gap: 3em ;
  min-height: 20vw;
}


.main p {
  margin: 0;
}

.HeaderSection{
  background-color: orangered;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 4.5em 5em;
}


.title{
  font-weight: 600;
  font-size: 2.2rem;
  padding-bottom: 1.5rem;
  color:white;
  text-align: center;

}

.para1{
    font-size: 1.rem;
  text-align: center;
  color: white;
}

.contactWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 2rem 4rem;
  box-sizing: border-box;
}

/* Left card */
.leftSection {
  transform: translateX(-3rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

/* Right form */
.rightSection {
  transform: translateX(3rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1024px) {
  .contactWrapper {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }

  .leftSection,
  .rightSection {
    transform: none;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .contactWrapper {
    padding: 1.2rem;
    gap: 1.5rem;
  }

  .rightSection {
    padding: 1.2rem;
  }
  .HeaderSection {
    margin: 0;
    padding: 2.5em 1.5em;
  }

}
