.downbarMainCon {
	display: flex;
	flex-direction: column;
	margin: 4em -4em 0;
	
}

.downbarMainCon p {
	margin: 0;
}

.downbarTop {
	display: flex;
	width: 100%;
	background-color: var(--main);
	align-items: center;
	justify-content: center;
	padding: 2em 0;
	gap: 2em ;
}

.dbTopText {
	color: var(--white);
	font-size: .9rem;
}

.dbTopButton {
	display: flex;
	align-items: center;
	background-color: var(--white);
	color: var(--main) ;
	border-radius: 2rem;
	border: 1px solid var(--white);
	padding: .5em 1em ; 	
	transition: all .3s ;
}

.dbTopButton svg {
	width: 16px ;
	height: 16px ;
}

.dbTopButton:hover {
	background-color: var(--main);
	color: var(--white) ;
	border: 1px solid var(--white);
}

.downbar {
	display: flex;
	flex-direction: column;	
	align-items: center ;
	width: 100% ;
	background-color: var(--bg);
}

.downbarTitle {
	display: flex;
}

.brTop {
	display: flex;
}

.brTop p {
	font-size: 1.3rem;
	font-weight: 400;
	color: var(--black);
}

.brBottom {
	display: flex;
    gap: 1em;
}

.downbarMain {
	display: flex;
	width: 100%;
	padding: 2em 4em 1em;
	gap: 1.5em ;
}

.dbLogo {
	display: flex;
	flex-direction: column;
	gap: 1em;
	flex-basis: 30%;
}

.dbEmail p {
	color: var(--main) ;
	font-size: 1.1rem;
}

.dbText p {
	color: var(--gray);
    font-size: .9rem;
}

.dbContent {
	display: flex;
	justify-content: space-between;
	flex-basis: 70%;	
}

.dbContentLeft {
	display: flex;
    flex-direction: column;
    gap: 1em;
}

.downbarSocialIcons {
	display: flex;
	justify-content: flex-start;
	gap: 1.5em;
}

.downbarSocialIcons svg {
	width: 20px;
	height: 20px;
	color: var(--gray);
	fill: var(--gray);
}

.dbContentRight {
	display: flex;
	justify-content: space-around;
}

.dbService, .dbCompany, .dbSupport {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	gap: 1em;
}

.dbLinkCon {
	display: flex;
	flex-wrap: wrap;
    gap: .5em;
}

.dbLinkItem {
	display: flex;
	align-items: center;
	gap: 1em ;
}

.dbLinkItem svg {
	width: 18px ;
	height: 18px ;
	color: var(--main);
}

.img {
	object-fit: cover;
	object-position: center;
}

.qLinks {
	color: var(--black);
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.3px ;
}

.qLink {
	color: var(--gray);
	margin: 0 ;
	font-size: .7rem ;
	letter-spacing: 0.3px ;
	font-weight: 400 ;
	padding: 4px ;
	flex-basis: 95% ;
	text-decoration: none ;
}


.dbCopyright {
	display: flex;
	justify-content: flex-end;
}

.downbarCrText {
	color: var(--black) ;
	font-size: .75rem ;
	margin-bottom: 0 ;
}

/* mobile css */
/* For Mobile */
@media (max-width: 600px) {
	.downbar {
		margin: 0 -1em;
		padding: 1em 0 0 ;
		gap: 1em;
	}

	.support {
		gap: 1em ;
		margin: 0;
	}
	
	.supportText1 {
		font-size: 1rem;
	}
	
	.supportText2 {
		font-size: 1rem;
	}
	
	.brTop p {
		font-size: 1rem;
	}
	
	.jobLookingBtn {
		font-size: .8rem ;
		border-radius: 0.25rem ;
		padding: 0.7em 2em ;
	}
	
	.jobPostingBtn {
		font-size: .8rem ;
		border-radius: 0.25rem ;
		padding: 0.7em 2em ;
	}
	
	.downbarMain {
		padding: 1em 1em 2em ;
		gap: 1em ;
	}	
	
	.dbLogo {
		gap: 1em;
		padding: 4px 8px ;
	}
	
	.dbEmail p {
		font-size: .9rem;
	}
	
	.dbText p {
		font-size: .7rem;
	}
	
	.downbarMainImage {
		align-self: center;
	}
	
	.dbContent {
		flex-direction: column;
		gap: 2em ;
	
	}
	
	.dbContentLeft {
		gap: 1em;
		flex-basis: 100%;
	}
	
	.downbarSocialIcons {
		gap: 1.5em;
	}
	
	.downbarSocialIcons svg {
		width: 20px;
		height: 20px;
	}
	
	.dbContentRight {
		flex-basis: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 ;
		gap: 1em ;
	}
	
	.dbService {
		gap: 1em;
		flex-basis: 100%;
	}
	.dbCompany, .dbSupport {
		gap: 1em;
		flex-basis: 45%;
	}

	.dbLinkCon {
		gap: .5em;
	}
	
	.qLinks {
		font-size: 1rem;
	}
	
	.qLink {
		font-size: .6rem ;
		padding: 4px ;
		flex-basis: 100% ;
	}	

	.dbCopyright {
		align-self: center;
	}

	.downbarCrText {
		font-size: .55rem ;
	}
}