.downbarMainCon {
	display: flex;
	flex-direction: column;
	margin: 4em -4em 0;
	
}

.downbarMainCon p {
	margin: 0;
}

.downbarTop {
	display: flex;
	width: 100%;
	background-color: var(--main);
	align-items: center;
	justify-content: center;
	padding: 2em 0;
	gap: 2em ;
}

.dbTopText {
	color: var(--white);
	font-size: .9rem;
}

.dbTopButton {
	display: flex;
	align-items: center;
	background-color: var(--white);
	color: var(--main) ;
	border-radius: 2rem;
	border: 1px solid var(--white);
	padding: .5em 1em ; 	
	transition: all .3s ;
}

.dbTopButton svg {
	width: 16px ;
	height: 16px ;
}

.dbTopButton:hover {
	background-color: var(--main);
	color: var(--white) ;
	border: 1px solid var(--white);
}

.downbar {
	display: flex;
	flex-direction: column;	
	align-items: center ;
	width: 100% ;
	background-color: var(--bg);
}

.downbarTitle {
	display: flex;
}

.downbarMain {
	display: flex;
	width: 100%;
	padding: 2em 4em;
	gap: 1.5em ;
}

.dbLogo {
	display: flex;
	flex-direction: column;
	gap: 1em;
	flex-basis: 30%;
}

.dbEmail p {
	color: var(--main) ;
	font-size: 1.1rem;
}

.dbText p {
	color: var(--gray);
    font-size: .9rem;
}

.dbContent {
	display: flex;
	justify-content: space-between;
	flex-basis: 70%;	
}

.dbContentLeft {
	display: flex;
    flex-direction: column;
    gap: 1em;
}

.downbarSocialIcons {
	display: flex;
	justify-content: flex-start;
	gap: 1.5em;
}

.downbarSocialIcons svg {
	width: 20px;
	height: 20px;
	color: var(--gray);
	fill: var(--gray);
}

.dbContentRight {
	display: flex;
	width: 100%;
}

.dbService, .dbCompany, .dbSupport {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	gap: 1em;
}

.dbLinkCon {
	display: flex;
	flex-direction: column;
    gap: .5em;
}

.dbLinkItem {
	display: flex;
	align-items: center;
	gap: 1em ;
}

.dbLinkItem svg {
	width: 18px ;
	height: 18px ;
	color: var(--main);
}

.img {
	object-fit: cover;
	object-position: center;
}

.qLinks {
	color: var(--black);
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.3px ;
}

.qLink {
	color: var(--gray);
	margin: 0 ;
	font-size: .7rem ;
	letter-spacing: 0.3px ;
	font-weight: 400 ;
	padding: 4px ;
	flex-basis: 95% ;
	text-decoration: none ;
}


.dbCopyright {
	display: flex;
	justify-content: flex-end;
}

.downbarCrText {
	color: var(--black) ;
	font-size: .75rem ;
	margin-bottom: 0 ;
}

/* big screen css */
@media (min-width: 1500px) {
	.downbarMain {
		padding: 4em 14em;
		gap: 4em ;
	}
}
/* mobile css */
/* For Mobile */
@media (max-width: 600px) {
	.downbarMainCon {
		margin: 1em -1em 0;
	}

	.downbarTop {
		width: 100%;
		padding: 1em;
		gap: 1em ;
	}

	.dbTopText {
		font-size: .8rem;
		flex-basis: 60% ;
	}

	.dbTopButton {
		flex-basis: 40% ;
		border-radius: 1.5rem;
		padding: .5em 1em ; 	
		max-width: max-content;
		font-size: .8rem;
	}

	.dbTopButton svg {
		width: 12px ;
		height: 12px ;
	}

	.downbarMain {
		flex-direction: column;
		width: 100%;
		padding: 1em;
		gap: 2em ;
	}

	.dbLogo {
		display: flex;
		flex-direction: column;
		gap: 1em;
		flex-basis: 30%;
	}

	.dbText p {
		color: var(--gray);
		font-size: .8rem;
	}

	.dbContent {
		display: flex;
		flex-wrap: wrap;
		flex-basis: unset;
		gap: 2em ;	
	}

	.downbarSocialIcons svg {
		width: 16px;
		height: 16px;
	}

	.dbService, .dbCompany, .dbSupport {
		flex-basis: 40%;
	}

	.dbCopyright {
		padding: 1em ;
	}
}