.courseCard {
  display: flex;
  flex-direction: column ;
  gap: 1em;
  border: 1px solid var(--lightGray);
  border-radius: 1.5rem;
  padding: 1em;
}

.courseCardImageCon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 50vh;
}

.courseCardImageCon img {
  object-fit: cover;
  object-position: top;
  border-radius: 1.5rem;
}

.courseCardDetailsCon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  flex-grow: 1 ;
}

.cardHead {
  font-size: .9rem;
  color: var(--second);
  font-weight: 600;
  line-height: 1.4;
}

.cardBtnCon {
  display: flex;
  gap: 1em;
}

.cardBtnFirst {
  padding: .5em 1em;
  border: 1px solid var(--main);
  border-radius: 8px;
  background-color: var(--main);
  color: var(--white);
  font-size: .8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ;
}

.cardBtnFirst:hover {
  background-color: var(--white);
  color: var(--main);

}


@media (max-width: 600px) {
  .courseCard {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: auto;
    gap: 1em;
    padding: 1rem;
  }

  .courseCardImageCon {
    width: 100%; 
    height: 200px; 
    flex-basis: auto; 
    flex-shrink: 0;
  }

  .courseCardDetailsCon {
    flex-basis: auto; 
    width: 100%;
    gap: 0.8em; 
  }

  .cardHead {
    font-size: 1rem; 
  }

  .cardBtnFirst {
    width: 100%; 
    text-align: center;
  }
}