.section {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border: 1px solid var(--darkWhite);
  border-radius: 30px;
  background-color: var(--white);
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 6px -1px var(--thodaBlack);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card:hover {
  box-shadow: 0 10px 25px -5px var(--zaraBlack);
}
.card p {
  margin: 0;
}
.imageContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  flex: 1; 
}

/* Container for the black circle */
.iconBadge {
  width: 60px;
  height: 60px;
  background-color: var(--moderate);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow: hidden;
  flex-shrink: 0; 
}

.iconBadge svg {
  height: 32px ;
  width: 32px ;
  color: var(--white) ;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 100%;
  flex-grow: 1; 
  gap: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;
  color: var(--second);
  transition: all ease 0.4s;
}

.title:hover {
  color: var(--main);
}

.desc {
  font-size: 0.95rem;
  line-height: 1.6;
  overflow: hidden;
  color: var(--medGray);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  margin: 0 !important;
}

.readMore {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--second);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.readMore:hover {
  color: var(--main);
  text-decoration: underline;
}

@media (max-width:600px){
  .main {
    gap: 2em;
  }
  .container{
    gap: 1em;
  }
}