.main {
  display: flex;
  flex-direction: column;
  color: var(--darkGray);
gap: 3rem;
  position: relative;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.downHead {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.main_bread {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}
.headparagraph{
  font-size: 14px;
  line-height: 25px;
  color: var(--gray); 
  font-weight: 400;
  margin: 0 !important;
  width: 70vw;
}
.head {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.titleLarge {
  font-size: 1.5rem; 
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
}
.head_two {
  display: flex;
  justify-content: flex-end;
  margin: 0 2.2em;
}
.heroImg {
  object-fit: cover;
  border-radius: 12px;
  border: 4px solid var(--white);
  width: 100%;
  min-height: 70vh;
}
@media (max-width: 768px) {
  .head {
    flex-direction: column;
    align-items: flex-start;
  }

  .head_two {
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
  }

  .titleLarge {
    font-size: 2.5rem;
  }
}

.detailsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem; 
}
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 70%;
}

.bodyImageContainer {
  width: 100%;
  height: 55vh;
  position: relative;
}

.leftpart{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.leftContent{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.leftpart_1{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.leftpart_2{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--darkGray);
  margin: 0 !important;
}

.paragraph {
  font-size: 1rem;
  line-height: 25px;
  color: var(--gray);
  font-weight: 400;
  margin: 0 !important;
}


.privacyhead {
display: flex;
flex-direction: column;
gap: 1rem;
}
.policyList{
  display: flex;
  flex-direction: column;
  gap: 1em;
  
}
.policyList ul {
  padding-left: 0;      /* removes default left space */
  margin-left: 0;
}

.policyList li {
  list-style-position: inside; /* brings bullet to left */
  padding-left: 0;             /* remove extra indent */
}
.space{
  margin: 0 0.2em;
}

.headpara{
  font-size: 1rem;
  line-height: 25px;
  color: var(--gray);
  font-weight: 600;
  margin: 0 !important;
}

