.generalTable {
	width: 100% 
}

.gtable {
	font-size: .8rem ;
	width: 98% ;
}

.tableTitle {
	padding: 0 1em ;
	font-size: 1.3rem ;
	font-weight: 600 ;
	font-family: var(--font) ;
}

.tableHeader {
	display: flex;
	justify-content: space-evenly ;
	flex-wrap: wrap;
	gap: 1em ;
	align-items: center;
	padding: 1em 0 ;
}

.totalRows {
	margin: 0;
	font-size: 0.8rem ;
	color: #cccccc ;
	font-weight: 500 ;
}

.gtable .adminPanelLinks {
	margin-bottom: 0;
}

.gtable .gtableEye, .gtable .gtablePen {
	cursor: pointer;
}

.gtable .gtableTrash {
	color: darkred;
	cursor: pointer;
}

.gtable .btn-danger {
	font-size: .8rem ;
	padding: .2em .5em  ;
}

.searchCon {
	display: flex ;
	align-items: center;
	border: 1px solid #e4e4e4 ;
	border-radius: 99rem ;
	padding-right: 0.3em ;
	height: 45px ;
	background-color: var(--white) ;
}

.searchCon input {
	border: none ;
	border-radius: 99rem ;
	margin: 0 ;
	padding: 0.3em 1em ; 
	font-size: .7rem ;
	width: 17vw ;
	background-color: transparent; 
}

.cancel {
	fill: var(--error) ;
	height: 24px ;
	width: 24px ;
}

.hide {
	width: 24px ;
	visibility: hidden;
}

.searchCon svg {
	cursor: pointer ;
	color : var(--white);
	transform: scale(0.8) ;
}

.searchCon .searchBtn {
	background-color: var(--dark) ;
	cursor: pointer; 
	border: none;
	border-radius: 50% ;
	padding: 6px 7px ;
	margin-right: 5px ;
	transition: all 0.1s ;
}

.searchCon .searchBtn:focus {
	outline: 0 ;
}

.searchCon .searchBtn:hover {
	background-color: var(--main) ;
}

.tableHeader .searchCon {
	border: 1px solid #e4e4e4 ;
	padding-right: 0 ;
}

.tableHeader .searchCon input {
	padding: 0.3em 1em ; 
	font-size: .7rem ;
	width: 17vw ;
}

.tableHeader .searchCon>svg {
	margin-right: .5em  ;
	font-size: 1rem ;
}

.offCanvasEnd {
	width: 500px ;
}

.empty {
	padding: 1em ;
	font-size: 1.1rem ;
	text-align: center ;
	font-weight: 500 ;
}

@media(max-width: 600px)
{
	.gtable {
		font-size: .7rem ;
		width: 90% ;
	}

	.tableTitle {
		padding: 0 .5em ;
		font-size: 1.1rem ;
	}

	.tableHeader {
		flex-direction: column;
	}

	.tableHeader .searchCon input {
		padding: 0.3em 1em ; 
		margin: 0 ;
		font-size: 1rem ;
		width: 70vw ;
		background-color: transparent; 
	}

	.empty {
		text-align: left ;
	}
}