.sliderItemCon {
	position: relative; 
	height: 100% ;
}

.sliderImgCon {
	height: 40vw ;
	border-bottom: 1px solid var(--lightGray);
	position: relative;
}

.sliderImg {
	position: absolute;
	object-fit: cover;
	object-position: center;
}

.overlay {
	position: absolute; 
	inset: 0 ;
}

.hidden {
	display: none ;
}