
/* Main layout */
.main {
  display: flex;
  flex-direction: column;
  color: var(--black);
  /* padding: 0 4em; */
  gap: 3em ;
}

.main p {
  margin: 0;
}

/* Title Section */
.titleSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em 0em 1em 0em;
}
.title {
  font-size: 3.5em;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--black);
}
.subtitle {
  font-size: 1.2em;
  font-weight: 300;
  color: var(--black);
  font-style: italic;
}
.titleLineWrapper {
  display: flex;
  justify-content: center;
}
.titleLine {
  max-width: 100%;
}

/* Content Section */
.contentSection {
  display: flex;
  flex-direction: column;
  gap: 2em ;
  width: 100%;
  font-size: 1.1em;
  color: var(--black);
  line-height: 1.7;
  text-align: justify;
}
.contentHeading {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--black);
}
.contentSectionSub {
  display: flex;
  flex-direction: column;
  gap: 1.5em ;
}

/* Grid Section */
.gridSection {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.gridImageWrapper {
  position: relative;
  width: 35vw;
  height: 44.66vw;
}
.gridImage {
  border-radius: 12px;
  max-width: 100%;
  height: auto;
}
.gridInfoWrapper {
  display: flex;
  flex-direction: column;
  width: 44vw;
  gap: 5em;
}
.aboutBoxContent {
  display: flex;
  width: 100%;
  gap: 3em ;
}
.aboutBoxContent:nth-child(odd) {
  flex-direction: row-reverse;
}
.iconBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: 20vw;
  padding: 2em 1.5em;
  background: var(--halfWhite);
  text-align: flex-start;
  /* border: 1px solid var(--black); */
  border-radius: 8px;
}
.icon {
  width: 20vw;
  height: 20vw;
  color: var(--black);
  margin-right: 0.5em;
}
.infoTitle {
  font-size: 1.3em;
  color: var(--black);
}
.iconText {
  display: flex;
  width: 100%;
  gap: 2em ;
}
.iconText p {
  flex-basis: 35%;
}
.iconText span {
  flex-basis: 65%;
  color: var(--black);
}
.infoDesc {
  color: var(--black);
  text-align: justify;
  font-size: .9em;
}
.socialIconsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: center;
}
.iconBoxDetailCon{
  display: flex;
  align-items: center;
  gap: .5em;
  width: 100%;
}
.iconBoxDetailCon svg {
  height: 20px;
  width: 20px;
  color: var(--black);
}
.iconBoxDetailCon p {
  font-size: .9rem;
}
.socialList {
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
}
.socialIcons svg{
  height: 30px;
  width: 30px;
}
/* video Section */


.frameCon {
  display: flex;
  flex-direction: column;
  padding: 2em 0 ;
}
.leftTitle {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--black);
}
.frameConVideo {
	display: flex;
	justify-content: space-evenly;
	padding: 2em 0 ;
	flex-wrap: wrap ;
	gap: 3em 2em;
}

/* form css */

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	padding: 1em 1.5em ;
  gap: 2em ;
  width: 50vw;
  align-self: center;
  /* box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2); */
}

.subPageContentHead {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
}

.blackBtn {
    background-color: var(--pink);
    color: var(--white) ;
    border: 1px solid var(--pink);
    box-shadow: none ;
    cursor: pointer;
    font-weight: 500 ;
    border-radius: 4px;
    padding: 0.5em 2em ;
    margin: 0 ; 
    width: max-content ;
    border: 1px solid var(--dpink);
    text-align: center;
    transition: all 0.2s ;
}

.blackBtn:focus, .blackBtn:active:focus, .blackBtn:hover  {
    outline: 0 ;
    background-color: var(--white) ;
    border: 1px solid var(--pink);
    color: var(--pink) ;
}

/* form css end */

@media (max-width: 900px) {
  .gridSection {
    flex-direction: column;
    gap: 1em;
  }
  .footerWidgets {
    flex-direction: column;
    gap: 1em;
  }
}

/* For Large Screens */
@media (min-width: 1500px){
  .main {
    padding: 0 10em;
  }

  .gridInfoWrapper {
    width: 34vw;
    gap: 5em;
  }

  .icon {
    width: 15vw;
    height: 15vw;
  }
}

@media (max-width: 600px) {
  /* Main layout */
  .main {
    gap: 1em ;
  }

  /* Title Section */
  .titleSection {
    padding: 1em 0em 1em 0em;
  }
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1em;
  }
  
  .contentSection {
    display: flex;
    flex-direction: column;
    gap: 1em ;
    width: 100%;
    font-size: 1em;
    color: var(--black);
    line-height: 1.7;
    text-align: justify;
  }
  .contentHeading {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--black);
  }
  .contentSectionSub {
    display: flex;
    flex-direction: column;
    gap: 1.5em ;
  }

  /* Grid Section */
  .gridSection {
    align-items: center;
    gap: 1em;
  }
  .gridImageWrapper {
    width: 90vw;
    height: 134vw;
  }
  
  .gridInfoWrapper {
    width: 90vw;
    gap: 2em;
  }
  .aboutBoxContent {
    width: 100%;
    gap: 2em ;
  }
  .aboutBoxContent:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .iconBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 90vw;
    padding: 2em 1.5em;
    background: var(--halfWhite);
    text-align: flex-start;
    border-radius: 8px;
  }
  .icon {
    display: none;
    width: 10vw;
    height: 10vw;
    color: var(--black);
    margin-right: 0.5em;
  }
  .iconBoxDetailCon svg {
    height: 20px;
    width: 20px;
    color: var(--black);
  }
  .iconBoxDetailCon p {
    font-size: .9rem;
  }
  .socialList {
    display: flex;
    align-items: flex-start;
    gap: 1.5em;
  }
  .socialIcons svg{
    height: 20px;
    width: 20px;
  }
  /* video Section */


  .frameCon {
    padding: 1em 0 ;
  }
  .leftTitle {
      font-size: 1.3em;
  }
  .frameConVideo {
    padding: 2em 0 ;
    gap: 1em;
  }

  /* form css */

  .contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 1.5em ;
    gap: 2em ;
    width: 50vw;
    align-self: center;
    /* box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2); */
  }

  .subPageContentHead {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--black);
  }

  .blackBtn {
      background-color: var(--pink);
      color: var(--white) ;
      border: 1px solid var(--pink);
      box-shadow: none ;
      cursor: pointer;
      font-weight: 500 ;
      border-radius: 4px;
      padding: 0.5em 2em ;
      margin: 0 ; 
      width: max-content ;
      border: 1px solid var(--dpink);
      text-align: center;
      transition: all 0.2s ;
  }

  .blackBtn:focus, .blackBtn:active:focus, .blackBtn:hover  {
      outline: 0 ;
      background-color: var(--white) ;
      border: 1px solid var(--pink);
      color: var(--pink) ;
}
}