.toolTip {
	display: flex ;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	position: relative;
}

.tooltiptext {
	position: absolute;
	top: 0 ;
	left: 50% ;
	z-index: 1 ;
	transform: translateY(-110%) translateX(-50%) ;
	padding: .3em .7em;
	margin: 0 ;
	font-size: .7rem;
	background-color: var(--gray);
	color: var(--white);
	border-radius: .7em ;
	white-space: nowrap;
	display: none;
	transition: all .1s ;
}

.toolTip:hover .tooltiptext {
	display: inline-block;
}