.home {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.home p {
	margin: 0;
}

/* home slider  */
.homeSlider {
  display: flex;
  position: relative;
  height: 25vw;
  overflow: hidden;
  margin: 0 -4em ;
}
/* home slider ends */


/* section two  */

.sectionTwo {
  display: flex;
  flex-direction: column;
  gap: 2em ;
  align-items: center;
}

.sectionTwoHeadCon {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 50%;
	text-align: center;
	gap: 1em ;
}

.sectionSubTitle {
	font-size : .7rem ;
	color: var(--third) ;
	text-transform: uppercase;
	font-weight: 600;
}

.sectionHeading {
	font-size: 2rem ;
	font-weight: 600 ;
	color:  var(--second) ;
}

.sectionDescr {
	color: var(--medGray) ;
	font-size: .9rem ;
	line-height: 1.6rem ;
}

.sectionTwoBoxesCon {
	display: flex ;
	justify-content: space-between ;
}

.sectionTwoBox {
	flex-basis: 30%;
	display: flex ;
	flex-direction: column ;
	justify-content: space-around;
	gap: 3em ;
	align-items: flex-start ;
	padding: 3em 2em ;
	border: 1px solid var(--lightGray) ;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	border-radius: 8px ;
	/* width: 25vw;
	height: 30vw; */
}

.sectionTwoBoxIcon {
	display: flex ;
	background-color: var(--main);
	padding: .5em ;
	border-radius: 8px ;
}

.sectionTwoBoxIcon svg {
	width: 40px ;
	height: 40px;
	color: var(--white);
}

.sectionTwoBoxContentCon {
	display: flex ;
	flex-direction: column ;
	gap: 1em ;
}

.sectionTwoBoxTitle {
	font-size: 1.2rem ;
	font-weight: 600 ;
	color: var(--second) ;
}

.sectionTwoBoxDescr {
	color: var(--medGray) ;
	font-size: .9rem ;
	line-height: 1.4rem ;
}

.sectionTwoBoxLink {
	display: flex ;
	border: 1px solid var(--halfMain) ;
	align-items: center;
	padding: .5em 2em ;
	border-bottom-right-radius: 1rem ;
	gap: 1em ;
}

.sectionTwoBoxLink span {
	color : var(--main) ;
	font-weight: 600 ;
	font-size: .8rem;
}

.sectionTwoBoxLink svg {
	width: 20px;
	height: 20px ;
	color : var(--main) ;
}

/* section two end */


/* section three  */

.sectionThreeMain {
	display: flex ;
	align-items: center ;
	justify-content: center;
	background-color: var(--bg);
	margin: 0 -4em ;
	padding: 4em;
}

.sectionThreeCon {
	display: flex;
}

.sectionThreeFirst {
	flex-basis: 35%;
	display: flex;
	flex-direction: column;
	gap: 1em ;
}

.sectionThreeFirstHead {
	display: flex;
	align-items: center;
	gap: 2em ;
}

.threePlusHead {
	font-size: 4.3rem ;
	font-weight: 600 ;
	color: var(--third2) ;
}

.threePlusHeadText {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--second);
}

.sectionThreeFirstText {
	color: var(--medGray) ;
	font-size: 1rem ;
	line-height: 1.6rem ;
}

.sectionThreeSecond {
	flex-basis: 65% ;
	display: flex ;
	align-items: center;
	justify-content: center ;
}

.sectionLight {
	display: flex;
	flex-direction: column;
	background-color: var(--third2);
	padding: 2em ;
	gap: 2em ;
}

.sectionThreeHead {
	font-size: 1.3rem ;
	font-weight: 600 ;
	color: var(--darkWhite) ;
}

.sectionThreePara {
	color: var(--darkWhite) ;
	font-size: .9rem ;
}

.sectionDark {
	display: flex;
	flex-direction: column;
	background-color: var(--second);
	padding: 2em ;
	gap: 2em ;
}
/* section three ends */

/* section four */
.sectionFourMain {
	display: flex;
}

.fourFirst {
	flex-basis: 60% ;
	display: flex ;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	gap: 1em ;
}

.fourSubHeading {
	font-size: .9rem ;
	color: var(--third) ;
	text-transform: uppercase ;
	font-weight: 600 ;
}

.fourHeadingCon {
	display: flex ;
	flex-direction: column ;
	width: 70%;
	gap: 1em ;
}

.fourHeading {
	font-size: 2.5rem ;
	font-weight: 600 ;
	color: var(--second) ;
}

.fourDescr {
	color: var(--medGray) ;
	font-size: 1rem ;
	line-height: 1.6rem ;
}

.fourInfoCon {
	display: flex ;
	flex-direction: column;
	gap: 3em ;
}

.fourInfoBox {
	display: flex ;
	gap: 1em ;
}

.fourInfoIcon {
	display: flex ;
	background-color: var(--main);
	padding: 1em ;
	border-radius: 50% ;
}

.fourInfoIcon svg {
	width: 30px ;
	height: 30px;
	color: var(--white);
}

.fourInfoTextCon {
	display: flex ;
	flex-direction: column ;
	gap: .5em ;
}

.fourInfoTextHead {
	font-size: 1.3rem ;
	font-weight: 600 ;
	color: var(--second) ;
}

.fourInfoText {
	color: var(--secondHalf) ;
	font-size: .9rem ;
	line-height: 1.4rem ;
}

.fourButton {
	font-size: .9rem ;
	color: var(--white) ;
	background-color: var(--main) ;
	padding: .5em 1em ;
	border: 1px solid var(--main) ;
	transition: all .3s ;
}

.fourButton:hover {
	background-color: var(--white) ;
	border: 1px solid var(--main) ;
	color: var(--main);
}

.fourSecond {
	flex-basis: 40% ;
	display: flex ;
	flex-direction: column;
	align-items: center;
	justify-content: center ;
}

.fourImageCon {
	display: flex;
  	position: relative;
  	width: 40vw;
	height: 25vw;
 	overflow: hidden;
	object-fit: cover;
	object-position: center;
}
/* section four ends */

/* stats css */
.statsMain {
	display: flex ;
	justify-content: space-between ;
}

.statsBox {
	flex-basis: 22%;
	display: flex;
	flex-direction: column ;
	align-items: flex-start ;
	justify-content: space-between;
	padding: 2em ;
	gap: 2em ;
	border: 1px solid var(--main);
	border-radius: .8rem;
}

.statsIcon {
	display: flex;
}

.statsIcon svg {
	width: 50px ;
	height: 50px ;
	fill: var(--main) ;
}

.statsNumber {
	font-size: 3.5rem ;
	font-weight: 600 ;
	color: var(--main) ;
}

.statsText {
	color: var(--second) ;
	font-size: .9rem ;
}

/* stats css ends */

@media (min-width: 1500px) {
  .home {
    padding: 0 10em;
    gap: 4em;
  }
}

@media (max-width: 600px) {
  .home {
    gap: 2em;
  }
}
