.home {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

@media (min-width: 1500px) {
  .home {
    padding: 0 10em;
    gap: 4em;
  }
}

@media (max-width: 600px) {
  .home {
    gap: 2em;
  }
}
