.home {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.home p {
	margin: 0;
}

/* home slider  */
.homeSlider {
  display: flex;
  position: relative;
  height: 40vw;
  overflow: hidden;
  margin: 0 -4em ;
}

.homeSliderVideo {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.homeSliderText {
	position: absolute ;
	top: 50% ;
	left: 50% ;
	max-width: 70%;
	transform: translate(-50%, -50%) ;
	color: var(--white) ;
	font-size: 2rem ;
	font-weight: 600 ;
	text-align: center ;
	width: max-content;
}
/* home slider ends */


/* section two  */

.sectionTwo {
  display: flex;
  flex-direction: column;
  gap: 2em ;
  align-items: center;
}

.sectionTwoHeadCon {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 70%;
	text-align: center;
	gap: 1em ;
}

.sectionSubTitle {
	font-size : .7rem ;
	color: var(--third) ;
	text-transform: uppercase;
	font-weight: 600;
}

.sectionHeading {
	font-size: 2rem ;
	font-weight: 600 ;
	color:  var(--second) ;
}

.sectionDescr {
	color: var(--medGray) ;
	font-size: .9rem ;
	line-height: 1.6rem ;
}

.sectionTwoBoxesCon {
	display: flex ;
	justify-content: space-between ;
}

.sectionTwoBox {
	flex-basis: 30%;
	display: flex ;
	flex-direction: column ;
	justify-content: space-between;
	gap: 1.5em ;
	align-items: flex-start ;
	padding: 1.5em 1em ;
	border: 1px solid var(--lightGray) ;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	border-radius: 8px ;
	/* width: 25vw;
	height: 30vw; */
}

.sectionTwoBoxIcon {
	display: flex ;
	background-color: var(--main);
	padding: .5em ;
	border-radius: 8px ;
}

.sectionTwoBoxIcon svg {
	width: 30px ;
	height: 30px;
	color: var(--white);
}

.sectionTwoBoxContentCon {
	display: flex ;
	flex-direction: column ;
	text-align: left ;
	flex: 1;
	gap: 1em ;
}

.sectionTwoBoxTitle {
	font-size: 1.2rem ;
	font-weight: 600 ;
	color: var(--second) ;
}

.sectionTwoBoxDescrCon {
	display: flex ;
	flex-direction: column ;
	gap: .5em ;
}

.sectionTwoBoxDescr {
	color: var(--gray) ;
	font-size: .8rem ;
	line-height: 1.4rem ;
}

.sectionTwoBoxLink {
	display: flex ;
	border: 1px solid var(--halfMain) ;
	align-items: center;
	align-self: center;
	padding: .5em 2em ;
	border-bottom-right-radius: 1rem ;
	gap: 1em ;
	transition: all .3s ;
}

.sectionTwoBoxLink span {
	color : var(--main) ;
	font-weight: 600 ;
	transition: all .3s ;
	font-size: .7rem;
}

.sectionTwoBoxLink svg {
	width: 20px;
	height: 20px ;
	transition: all .3s ;
	color : var(--main) ;
}

.sectionTwoBoxLink:hover {
	background-color: var(--main) ;
	border: 1px solid var(--main) ;
}

.sectionTwoBoxLink:hover span,.sectionTwoBoxLink:hover svg {
	color: var(--white) ;
}

/* section two end */


/* section three  */

.sectionThreeMain {
	display: flex ;
	align-items: center ;
	justify-content: center;
	background-color: var(--bg);
	margin: 0 -4em ;
	padding: 4em;
}

.sectionThreeCon {
	display: flex;
	gap: 5em ;
}

.sectionThreeFirst {
	flex-basis: 35%;
	display: flex;
	flex-direction: column;
	gap: 1em ;
}

.sectionThreeFirstHead {
	display: flex;
	align-items: center;
	gap: 2em ;
}

.threePlusHead {
	font-size: 4.3rem ;
	font-weight: 600 ;
	color: var(--third2) ;
}

.threePlusHeadText {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--second);
}

.sectionThreeFirstText {
	color: var(--medGray) ;
	text-align: left;
	font-size: 1rem ;
	line-height: 1.6rem ;
}

.sectionThreeSecond {
	flex-basis: 65% ;
	display: flex ;
	align-items: flex-end;
	justify-content: center ;
}

.sectionLight {
	display: flex;
	flex-direction: column;
	background-color: var(--third2);
	padding: 2em ;
	height: 100% ;
	text-align: left;
	flex-basis: 50%;
	gap: 2em ;
}

.sectionThreeHead {
	font-size: 1.3rem ;
	font-weight: 600 ;
	color: var(--darkWhite) ;
}

.sectionThreePara {
	color: var(--darkWhite) ;
	font-size: .9rem ;
	flex-grow: 1;
	display: -webkit-box ;
	-webkit-line-clamp: 6 ;
	line-clamp: 6 ;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.sectionDark {
	display: flex;
	flex-direction: column;
	background-color: var(--second);
	padding: 2em ;
	height: 100% ;
	text-align: left;
	flex-basis: 50%;
	gap: 2em ;
}

.sectionThreeButton {
	display: flex;
	gap: 1em ;
	align-items: center;
	background-color: var(--white);
	border: 1px solid var(--white) ;
	padding: .5em 1em ;
	border-bottom-right-radius: .5rem;
	font-size: .9rem ;
	font-weight: 500 ;
	color: var(--third2) ;
	transition: all .3s ;
	align-self: flex-start ;
}

.sectionThreeButton svg {
	width: 14px ;
	height: 14px ;
	color: var(--third2) ;
	transition: all .3s ;
}

.sectionThreeButton:hover svg{
	color: var(--white) ;
}


.sectionThreeButton:hover {
	color: var(--white) ;
	background-color: var(--third2);
}

.sectionThreeButton2 {
	display: flex;
	gap: 1em ;
	align-items: center;
	background-color: var(--white);
	border: 1px solid var(--white) ;
	padding: .5em 1em ;
	border-bottom-right-radius: .5rem;
	font-size: .9rem ;
	font-weight: 500 ;
	color: var(--second) ;
	transition: all .3s ;
	align-self: flex-start ;
}

.sectionThreeButton2 svg {
	width: 14px ;
	height: 14px ;
	color: var(--second) ;
	transition: all .3s ;
}

.sectionThreeButton2:hover svg{
	color: var(--white) ;
}

.sectionThreeButton2:hover {
	color: var(--white) ;
	background-color: var(--second);
}

/* section three ends */

/* section four */
.sectionFourMain {
	display: flex;
}

.fourFirst {
	flex-basis: 60% ;
	display: flex ;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1em ;
}

.fourSubHeading {
	font-size: .9rem ;
	color: var(--third) ;
	text-transform: uppercase ;
	font-weight: 600 ;
}

.fourHeadingCon {
	display: flex ;
	flex-direction: column ;
	width: 70%;
	gap: 1em ;
}

.fourHeading {
	font-size: 2.5rem ;
	font-weight: 600 ;
	color: var(--second) ;
}

.fourDescr {
	color: var(--second) ;
	font-size: 1rem ;
	line-height: 1.6rem ;
}

.fourParaCon {
	display: flex ;
	flex-direction: column ;
	max-width: 70% ;
	gap: 1em ;
}

.fourParaBox {
	display: flex ;
	align-items: flex-start ;
	justify-content: center;
	gap: .5em ;
}

.fourParaBox svg {
	width: 20px ;
	height: 20px ;
	color: var(--main) ;
}

.fourPara {
	color: var(--medGray) ;
	font-size: .9rem ;
}

.fourInfoCon {
	display: flex ;
	flex-direction: column;
	gap: 2em ;
	padding: 2em 0;
}

.fourInfoBox {
	display: flex ;
	align-items: center;
	gap: 1em ;
}

.fourInfoIcon {
	display: flex ;
	align-items: flex-start;
	justify-content: flex-start;
}

.fourInfoIcon svg {
	width: 36px ;
	height: 36px;
	color: var(--main);
}

.fourInfoTextCon {
	display: flex ;
	flex-direction: column ;
}

.fourInfoTextHead {
	font-size: 1.2rem ;
	font-weight: 600 ;
	color: var(--second) ;
}

.fourInfoText {
	color: var(--secondHalf) ;
	width: 80%;
	font-size: .9rem ;
	line-height: 1.4rem ;
}

.fourButton {
	font-size: .9rem ;
	color: var(--white) ;
	background-color: var(--main) ;
	padding: .5em 2.5em ;
	border: 1px solid var(--main) ;
	transition: all .3s ;
}

.fourButton:hover {
	background-color: var(--white) ;
	border: 1px solid var(--main) ;
	color: var(--main);
}

.fourSecond {
	flex-basis: 40% ;
	display: flex ;
	flex-direction: column;
	align-items: center;
	justify-content: center ;
}

.fourImageCon {
	display: flex;
  	position: relative;
  	width: 40vw;
	height: 40vw;
	overflow: hidden;
 	
}
.fourImageCon img {
	object-fit: cover;
	object-position: center;
}

/* section four ends */

/* stats css */
.statsMain {
	display: flex ;
	justify-content: space-between ;
}

.statsBox {
	flex-basis: 22%;
	display: flex;
	flex-direction: column ;
	align-items: flex-start ;
	justify-content: space-between;
	padding: 1em ;
	border: 1px solid var(--lightGray);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	border-radius: .8rem;
}

.statsIcon {
	display: flex;
}

.statsIcon svg {
	width: 50px ;
	height: 50px ;
	fill: var(--main) ;
}

.statsNumber {
	font-size: 2.5rem ;
	font-weight: 600 ;
	/* align-self: center; */
	color: var(--main) ;
	line-height: 2.7rem ;
}

.statsText1 {
	font-size: 1.5rem ;
	font-weight: 600 ;
	color: var(--main) ;
	/* align-self: center; */
	line-height: 1.8rem ;
}

.statsText {
	color: var(--second) ;
	margin-top: 1em !important;
	font-size: .8rem ;
	/* text-align: center; */
	/* align-self: center; */
	flex:1 ;
}

/* stats css ends */

/* Expertise */
.expertiseMain {
	display: flex ;
	flex-direction: column ;
	margin: 0 -4em ;
	padding: 4em ;
	gap: 2em ;
	position: relative ;

	background-color: var(--main);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23F36103' width='11' height='11'/%3E%3Crect fill='%23f36408' x='10' width='11' height='11'/%3E%3Crect fill='%23f3670c' y='10' width='11' height='11'/%3E%3Crect fill='%23f46911' x='20' width='11' height='11'/%3E%3Crect fill='%23f46c14' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23f46f18' y='20' width='11' height='11'/%3E%3Crect fill='%23f4711b' x='30' width='11' height='11'/%3E%3Crect fill='%23f5741e' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23f57621' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23f57924' y='30' width='11' height='11'/%3E%3Crect fill='%23f57b27' x='40' width='11' height='11'/%3E%3Crect fill='%23f67d2a' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23f6802d' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23f68230' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23f68433' y='40' width='11' height='11'/%3E%3Crect fill='%23f68736' x='50' width='11' height='11'/%3E%3Crect fill='%23f78938' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23f78b3b' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23f78e3e' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23f79041' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23f89243' y='50' width='11' height='11'/%3E%3Crect fill='%23f89446' x='60' width='11' height='11'/%3E%3Crect fill='%23f89649' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23f8994c' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23f89b4f' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23f99d51' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23f99f54' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23f9a157' x='70' width='11' height='11'/%3E%3Crect fill='%23f9a35a' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23f9a55d' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23faa760' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23faa963' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23faab66' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23faad68' x='80' width='11' height='11'/%3E%3Crect fill='%23faaf6b' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23fbb16e' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23fbb371' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23fbb574' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23fbb777' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23fbb97a' x='90' width='11' height='11'/%3E%3Crect fill='%23fbbb7d' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23fcbd80' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23fcbf83' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23fcc187' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23fcc38a' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23fcc58d' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23fdc790' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23fdc993' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23fdcb96' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23fdcd99' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23fdce9d' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23fdd0a0' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23fed2a3' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23fed4a6' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23fed6a9' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23fed8ad' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23fedab0' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ffdbb3' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23ffddb7' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23FFDFBA' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.expertiseSubHeading {
	font-size: .7rem ;
	color: var(--white) ;
	text-transform: uppercase ;
	font-weight: 500 ;
	background-color: var(--halfWhite);
	padding: .2em .5em;
	width: max-content ;
}

.expertiseHeading {
	font-size: 2.5rem ;
	font-weight: 600 ;
	color: var(--white) ;
}

.expertiseBoxesCon {
	display: flex ;
	flex-direction: column;
	gap: 4em ;
}

.expertiseBox {
	display: flex ;
	background-color: var(--white) ;
	border-radius: 2rem ;
	overflow: hidden;
}

.expertiseBox:nth-child(even) {
	flex-direction: row-reverse ;
}

.expertiseBoxContentCon {
	flex-basis: 50%;
	display: flex;
	flex-direction: column ;
	justify-content: space-between ;
	align-items: flex-start;
	padding: 3em ;
}

.expertiseBoxTitle {
	font-size: 1.5rem ;
	font-weight: 600 ;
	color: var(--second) ;
}

.expertiseBoxDescrCon {
	display: flex;
	flex-direction: column;
	gap: 1em ;
}

.expertiseBoxDescr {
	color: var(--second) ;
	font-size: .9rem ;
}

.expertiseBoxLink {
	align-self: center;
	display: flex;
	gap: 1.5em ;
	align-items: center;
	padding: .5em 2em ;
	font-size: .8rem;
	border: 1px solid var(--main) ;
	color: var(--main) ;
	border-radius: 2rem ;
	transition: all .3s ;
}

.expertiseBoxLink svg {
	width: 16px ;
	height: 16px ;
	color: var(--main) ;
	transition: all .3s ;
}

.expertiseBoxLink:hover {
	background-color: var(--main) ;
	color: var(--white) ;
}

.expertiseBoxLink:hover svg {
	color: var(--white) ;
} 

.expertiseBoxImageCon {
	flex-basis: 50%;
}

.expertiseBoxImageCon img {
	width: 100% ;
	height: 100% ;
	object-fit: cover;
}
/* expertise ends */

/* publications */
.pubMain {
	display: flex ;
	flex-direction: column ;
	align-items: center;
	gap: 2em ;
}

.pubHeadCon {
	display: flex ;
	justify-content: space-between ;
	align-items: center ;
	align-self: stretch;
}

.pubHeadTextCon {
	display: flex ;
	flex-direction: column ;
	gap: 1em ;
	max-width: 60% ;
}

.pubHeadLinkCon {
	display: flex;
}

.pubBoxesCon {
	display: grid;
	grid-template-columns: repeat(3, 10fr);
	gap: 2rem;
	width: 100%;
}

.pubBox {
	flex-basis: 45% ;
	display: flex;
	flex-direction: column;
	gap: 2em ;
}

.pubBoxImageCon {
	width: 100% ;
	overflow: hidden;
	aspect-ratio: 1.5 / 1 ;
}

.pubBoxImageCon img {
	width: 100% ;
	height: 100% ;
	object-fit: contain;
}

.pubBoxContentCon {
	display: flex ;
	flex-direction: column ;
	gap: 1em ;
}

.pubBoxTitle {
	font-size: 1.2rem ;
	font-weight: 600 ;
	color: var(--second) ;
}

.pubBoxDescr {
	color: var(--second) ;
	font-size: .9rem ;
	line-height: 1.4rem ;
}

.pubBoxLink {
	display: flex ;
	align-items: center ;
	gap: .5em ;
	color: var(--main) ;
	transition: all .3s ;
}

.pubBoxLink svg {
	width: 20px ;
	height: 20px ;
	color: var(--main) ;
	transition: all .3s ;
}

.pubBoxLink:hover, .pubBoxLink:hover svg {
	color: var(--second) ;
}
/* publications ends*/

/* bettter result section */
.resultsMain {
	display: flex ;
	margin: 0 -4em ;
	padding: 4em ;
	background-image: url('../public/section.webp');
	background-size: cover;	
	justify-content: flex-end;
  	position: relative;
}

.homeSliderOverlay {
  position: absolute; 
  inset: 0 ;
  z-index: 3 ;
  background: var(--halfBlack);
}

.resultInfoCon {
	flex-basis: 50% ;
	display: flex ;
	flex-direction: column ;
	gap: 1.5em ;
	padding: 0 2em;
}

.resultsPointsDescrCon {
	display: flex ;
	flex-direction: column ;
	gap: 2em ;
}

.resultsPointsDescr {
	color: var(--medGray) ;
	font-size: 1rem ;
	line-height: 1.6rem ;
}

.resultPointsCon {
	display: flex ;
	flex-direction: column ;
	gap: 1em ;
}

.resultPoint {
	display: flex ;
	align-items: center;
	gap: 1em ;
}

.resultPoint svg {
	width: 16px ;
	height: 16px ;
	color: var(--second) ;
}

.resultPointText {
	color: var(--second) ;
	font-size: 1rem ;
}
/* bettter result section ends */

@media (min-width: 1500px) {
  	.home {
		padding: 0 10em;
		gap: 4em;
  	}

  	.homeSlider  {
		margin: 0 -14em ;
	}


	.sectionThreeMain, .expertiseMain, .resultsMain {
		margin: 0 -14em ;
		padding: 4em 14em ;
	}
}

@media (max-width: 600px) {
  .home {
    gap: 2em;
  }
	/* home slider  */
	.homeSlider {
		margin: 0 -1em ;
	}

	.homeSliderText {
		font-size: 1rem ;
		max-width: 90%;
	}
	/* home slider ends */

	/* section two  */

	.sectionTwo {
		gap: 1em ;
	}	

	.sectionTwoHeadCon {
		max-width: 95%;
		gap: .5em ;
	}

	.sectionSubTitle {
		font-size : .7rem ;
	}

	.sectionHeading {
		font-size: 1.5rem ;
	}

	.sectionDescr {
		font-size: .7rem ;
		line-height: 1.2rem ;
	}

	.sectionTwoBoxesCon {
		display: flex ;
		flex-direction: column;
		gap: 1em ;
		justify-content: space-between ;
	}

	.sectionTwoBox {
		flex-basis: 30%;
		gap: .5em ;
		padding: 2em 1em ;
	}

	.sectionTwoBoxIcon {
		padding: .5em ;
		border-radius: 8px ;
	}

	.sectionTwoBoxIcon svg {
		width: 20px ;
		height: 20px;
	}

	.sectionTwoBoxTitle {
		font-size: 1rem ;
	}

	.sectionTwoBoxDescrCon {
		display: flex ;
		flex-direction: column ;
		gap: .5em ;
	}

	.sectionTwoBoxDescr {
		font-size: .7rem ;
	}

	.sectionTwoBoxLink {
		padding: .3em 1.5em ;
	}

	.sectionTwoBoxLink span {
		font-size: .6rem;
	}

	.sectionTwoBoxLink svg {
		width: 15px;
		height: 15px ;
	}

	/* section two end */


	/* section three  */

	.sectionThreeMain {
		display: flex ;
		align-items: center ;
		justify-content: center;
		margin: 0 -1em ;
		padding: 2em;
	}

	.sectionThreeCon {
		display: flex;
		flex-direction: column;
		gap: 1em ;
	}

	.sectionThreeFirst {
		flex-basis: 35%;
		display: flex;
		flex-direction: column;
		gap: 1em ;
	}

	.sectionThreeFirstHead {
		display: flex;
		align-items: center;
		gap: 2em ;
	}

	.threePlusHead {
		font-size: 3rem ;
		font-weight: 600 ;
	}

	.threePlusHeadText {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.sectionThreeFirstText {
		text-align: left;
		font-size: 1rem ;
		line-height: 1.6rem ;
	}

	.sectionThreeSecond {
		flex-direction: column;
	}

	.sectionLight {
		display: flex;
		flex-direction: column;
		padding: 2em ;
		height: 100% ;
		text-align: left;
		flex-basis: 50%;
		gap: 2em ;
	}

	.sectionThreeHead {
		font-size: 1.3rem ;
		font-weight: 600 ;
	}

	.sectionThreePara {
		color: var(--darkWhite) ;
		font-size: .9rem ;
	}

	.sectionDark {
		display: flex;
		flex-direction: column;
		padding: 2em ;
		height: 100% ;
		text-align: left;
		flex-basis: 50%;
		gap: 2em ;
	}

	.sectionThreeButton {
		font-size: .9rem ;
		font-weight: 500 ;
		color: var(--main) ;
		transition: all .3s ;
		align-self: flex-start ;
	}

	.sectionThreeButton:hover {
		color: var(--main) ;
	}

	/* section three ends */

	/* section four */
	.sectionFourMain {
		flex-direction: column;
		padding: .5em;
		gap: 1em ;
	}

	.fourFirst {
		flex-basis: unset ;
		width: 100% ;
	}

	.fourSubHeading {
		font-size: .9rem ;
	}

	.fourHeadingCon {
		width: 100%;
		gap: 1em ;
	}

	.fourHeading {
		font-size: 1.3rem ;
	}

	.fourDescr {
		font-size: .9rem ;
		line-height: 1.6rem ;
	}

	.fourInfoCon {
		gap: 1em ;
		padding: 1em 0;
	}

	.fourInfoBox {
		align-items: flex-start;
		gap: 1em ;
	}

	.fourInfoIcon {
		align-items: flex-start;
		height: 48px;
		width: 48px;
	}

	.fourInfoIcon svg {
		width: 24px ;
		height: 24px;
	}

	.fourInfoTextHead {
		font-size: 1.1rem ;
	}

	.fourInfoText {
		width: 90%;
		font-size: .8rem ;
	}

	.fourButton {
		font-size: .8rem ;
		align-self: center;
	}

	.fourSecond {
		flex-basis: unset ;
		width: 100% ;
	}

	.fourImageCon {
		width: 80vw;
		height: 100vw;

	}
	/* section four ends */

	/* stats css */
	.statsMain {
		flex-wrap: wrap;
		gap: 2em ;
	}

	.statsBox {
		flex-basis: 45%;
		padding: .5em ;
		border-radius: .8rem;
	}

	.statsNumber {
		font-size: 1.4rem ;
		line-height: 1.5rem ;
	}

	.statsText1 {
		font-size: 1rem ;
		line-height: 1.8rem ;
	}

	.statsText {
		font-size: .6rem ;
	}

	/* stats css ends */

	/* Expertise */
	.expertiseMain {
		margin: 0 -1em ;
		padding: 1em ;
		gap: 1em ;
	}

	.expertiseSubHeading {
		font-size: .6rem ;
	}

	.expertiseHeading {
		font-size: 1.3rem ;
	}

	.expertiseBoxesCon {
		display: flex ;
		flex-direction: column;
		gap: 2em ;
	}

	.expertiseBox {
		flex-direction: column-reverse;
	}

	.expertiseBox:nth-child(even) {
		flex-direction: column-reverse;
	}

	.expertiseBoxContentCon {
		flex-basis: unset ;
		padding: 1em ;
		gap: .5em ;
	}

	.expertiseBoxTitle {
		font-size: 1.1rem ;
		font-weight: 600 ;
		color: var(--second) ;
	}

	.expertiseBoxDescrCon {
		display: flex;
		flex-direction: column;
		gap: 1em ;
	}

	.expertiseBoxDescr {
		font-size: .7rem ;
	}

	.expertiseBoxLink {
		gap: 1.5em ;
		padding: .5em 2em ;
		font-size: .7rem;
	}

	.expertiseBoxLink svg {
		width: 14px ;
		height: 14px ;
	}

	.expertiseBoxImageCon {
		flex-basis: unset ;
		width: 100% ;
	}

	.expertiseBoxImageCon img {
		width: 100% ;
		height: 100% ;
		object-fit: cover;
	}
	/* expertise ends */

	/* publications */
	.pubMain {
		display: flex ;
		flex-direction: column ;
		align-items: center;
		gap: 2em ;
	}

	.pubHeadCon {
		display: flex ;
		width: 100% ;
		flex-direction: column;
	}

	.pubHeadTextCon {
		max-width: 100% ;
	}

	.pubBoxesCon {
		display: flex ;
		flex-direction: column;
		justify-content: space-between ;
		width: 100%;
	}

	.pubBox {
		flex-basis: unset ;
		width: 100% ;
		display: flex;
		flex-direction: column;
		gap: 2em ;
	}

	.pubBoxImageCon {
		width: 100% ;
		overflow: hidden;
		aspect-ratio: 1.5 / 1 ;
	}

	.pubBoxImageCon img {
		width: 100% ;
		height: 100% ;
		object-fit: contain;
	}

	.pubBoxContentCon {
		display: flex ;
		flex-direction: column ;
		gap: 1em ;
	}

	.pubBoxTitle {
		font-size: 1.2rem ;
		font-weight: 600 ;
		color: var(--second) ;
	}

	.pubBoxDescr {
		color: var(--second) ;
		font-size: .9rem ;
		line-height: 1.4rem ;
	}

	.pubBoxLink {
		display: flex ;
		align-items: center ;
		gap: .5em ;
		color: var(--main) ;
		transition: all .3s ;
	}

	.pubBoxLink svg {
		width: 20px ;
		height: 20px ;
		color: var(--main) ;
		transition: all .3s ;
	}

	.pubBoxLink:hover, .pubBoxLink:hover svg {
		color: var(--second) ;
	}
	/* publications ends*/

	/* bettter result section */
	.resultsMain {
		margin: 0 -1em ;
		padding: 1em ;
	}

	.resultInfoCon {
		flex-basis: unset ;
		width: 100% ;
		gap: 1em ;
		padding: 0 .5em;
	}

	.resultsPointsDescrCon {
		gap: 1em ;
	}

	.resultsPointsDescr {
		font-size: .8rem ;
		line-height: 1.2rem ;
	}

	.resultPointsCon {
		display: flex ;
		flex-direction: column ;
		gap: 1em ;
	}

	.resultPoint {
		display: flex ;
		align-items: center;
		gap: 1em ;
	}

	.resultPointText {
		font-size: .8rem ;
	}
	/* bettter result section ends */
}