
/* .tiptap {} */

.tiptap :first-child {
    margin-top: 0;
}

.tiptap p {
    color: var(--black) ;
}
  
/* List styles */
.tiptap ul,
.tiptap ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    color: var(--black) ;
}
  
.tiptap ul li p,
.tiptap ol li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: var(--black) ;
}
  
/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
    line-height: 1.1;
    margin-top: 1.5rem;
    text-wrap: pretty;
    color: var(--black) ;
}
  
.tiptap h1,
.tiptap h2 {
    margin-bottom: 1.5rem;
}
  
.tiptap h1 {
    font-size: 2rem;
}
  
.tiptap h2 {
    font-size: 1.8rem;
}
  
.tiptap h3 {
    font-size: 1.5rem;
}
  
.tiptap h4,
.tiptap h5,
.tiptap h6 {
    font-size: 1.25rem;
}
  
  /* Code and preformatted text styles */
.tiptap code {
    background-color: var(--light);
    border-radius: 0.4rem;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
    color: var(--black) ;
}
  
.tiptap pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--black);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
}
  
.tiptap pre code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
}
  
.tiptap blockquote {
    border-left: 3px solid var(--medGray);
    margin: 1.5rem 0;
    padding-left: 1rem;
    color: var(--black) ;
}
  
.tiptap hr {
    border: none;
    border-top: 1px solid var(--gray);
    margin: .5rem 0;
    color: var(--black) ;
}

/* For Mobile */
@media (max-width: 600px) {
    .tiptap p {
        font-size: 0.9rem;
        font-feature-settings: unset ;
    }

    /* List styles */
    .tiptap ul,
    .tiptap ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;
    }
    
    .tiptap ul li p,
    .tiptap ol li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }
    
    /* Heading styles */
    .tiptap h1,
    .tiptap h2,
    .tiptap h3,
    .tiptap h4,
    .tiptap h5,
    .tiptap h6 {
        line-height: 1.1;
        margin-top: 1.5rem;
        text-wrap: pretty;
    }
    
    .tiptap h1,
    .tiptap h2 {
        margin-bottom: 1.5rem;
    }
    
    .tiptap h1 {
        font-size: 1.6rem;
    }
    
    .tiptap h2 {
        font-size: 1.4rem;
    }
    
    .tiptap h3 {
        font-size: 1.2rem;
    }
    
    .tiptap h4,
    .tiptap h5,
    .tiptap h6 {
        font-size: 1.1rem;
    }
    
    .tiptap strong {
        font-weight: 600;
    }

    /* Code and preformatted text styles */
    .tiptap code {
        background-color: var(--light);
        border-radius: 0.4rem;
        color: var(--black);
        font-size: 0.85rem;
        padding: 0.25em 0.3em;
    }
    
    .tiptap pre {
        background: var(--black);
        border-radius: 0.5rem;
        color: var(--black);
        font-family: 'JetBrainsMono', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;
    }
    
    .tiptap pre code {
        background: none;
        color: inherit;
        font-size: 0.8rem;
        padding: 0;
    }
    
    .tiptap blockquote {
        border-left: 3px solid var(--medGray);
        margin: 1.5rem 0;
        padding-left: 1rem;
    }
    
    .tiptap hr {
        border: none;
        border-top: 1px solid var(--gray);
        margin: .5rem 0;
    }
}