
.blogsCon {
    display: flex ;
    justify-content: center ;
    flex-wrap: wrap;
    gap: 2.3em ;
}

.blogCard {
    flex-basis: calc((100% - 4.6em) / 3) ;
    display: flex ;
    cursor: pointer ;
    padding-bottom: 2em ;
    border-bottom: 2px solid var(--lightGray) ;
    transition: all .2s ;
}

.blogCard:hover {
    transform: translateY(-5px) ;
}

.blogCard p {
    margin: 0 ;
}

.blogCard:hover {
    color: var(--pink) ;
}

.blogCard svg {
    height: 20px ;
    width: 20px ;
    color: var(--pink) ;
}

.zoomCardLink {
    display: flex ;
    flex-direction: column ;
    gap: 1em ;
}

.blogImageCon {
    width: 27vw;
    height: 20vw;
    position: relative;
}

.dateCon {
    display: flex;
    align-items: center;
    gap: 1em ;
}

.blogDate {
    color: var(--medGray) ;
    font-size: .8rem ;
}

.blogTitle {
    font-size: 1.5rem ;
    font-weight: 500 ;
    flex-grow: 2 ;
    transition: all .2s ;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color: var(--black) ;
}

.blogDescr {
    font-size: 1rem ;
    line-height: 2rem ;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blogTagsCon {
    display: flex;
    align-items: center;
    gap: 1em ;
    flex-wrap: wrap;
}

.blogTag {
    margin: 0;
    font-size: .8rem ;
    padding: .2em 1em ;
    background-color: var(--thodaBlue) ;
    border-radius: 2rem;
    color: var(--blue) ;
}

/* For Mobile */
@media (max-width: 600px) {
    
    .blogsCon {
        justify-content: center ;
    }
    
    .blogCard {
        padding-bottom: 2em ;
    }
    
    .blogImageCon {
        width: 90vw;
        height: 67.25vw ;
        position: relative;
    }
    
    .blogTitle {
        font-size: 1.2rem ;
    }
    
    .blogDescr {
        font-size: .9rem ;
    }
    
    .blogCard svg {
        height: 20px ;
        width: 20px ;
    }
}

/* For Large Screens */
@media (min-width:1500px) {
    
    .blogCard {
        flex-basis: 23vw ;
    }

    .blogImageCon {
        width: 23vw;
        height: 17vw;
    }
}

/* ------------------ HomeSection CSS ------------------ */

.homeSection {
    display: flex ;
    flex-direction: column ;
    gap: 4em ;
}

.sectionTitleCon {
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
}

.sectionTitle {
    font-size: 2.25rem ;
    font-weight: 600 ;
    color: var(--pink) ;
    margin: 0 ;
    text-transform: capitalize ;
}

.sectionLink {
    font-size: 1rem ;
    font-weight: 500 ;
    color: var(--pink) ;
    text-decoration: none ;

    display: flex ;
    align-items: center ;
}

.sectionLink svg {
    width: 20px ;
    height: 20px ;
}

.sectionContent {
    display: flex ;
    flex-wrap: wrap ;
    gap: 1.25em ;
}

/* ------------------------------------------------------------ */

/* For Mobile */
@media (max-width: 600px) {
    .homeSection {
        gap: 32px ;
    }
    
    .sectionTitleCon {
        gap: 12px ;
    }
    
    .sectionTitle {
        font-size: 1.2rem ;
    }

    .sectionLink {
        font-size: 0.8rem ;
    }
    
    .sectionContent {
        gap: 1em ;
    }
}