
/* Main layout */
.main {
  display: flex;
  flex-direction: column;
  color: var(--black);
  /* padding: 0 4em; */
  gap: 3em ;
  min-height: 20vw;
}

.main p {
  margin: 0;
}
.downbarTop {
	display: flex;
	width: 100%;
	background-color: var(--main);
	align-items: center;
	justify-content: center;
	padding: 5em 0;
	gap: 2em ;
}
