.basicForm {
    display: flex ;
    flex-direction: column ;
    gap: .5em ;
}

.inputField {
    position: relative ;
}

.formError {
    display: inline-block ;
    font-size: .8rem ;
    color: var(--error) ;
    width: 100% ;
    padding: 0.2em 0 ;
}

.formSucc {
	display: inline-block ;
    font-size: .9rem ;
    color: var(--success) ;
    width: 100% ;
    padding: 0.2em 0 ;
}

.formDescr {
    display: inline-block ;
    font-size: .8rem ;
    color: var(--halfWhite) ;
    width: 100% ;
    padding: 0.2em 0 ;
}

.formPhMob {
    color: var(--gray);
    font-size: .9rem ;
    white-space: nowrap ;
    position: absolute ;
    top: 50% ;
    left: 40% ;
    transform: translateX(-50%) translateY(-50%);
}

.tagFlex {
	display: flex;
	flex-wrap: wrap;
    gap: .25em ;
    padding-top: .25em ;
}

.tagCon {
	background-color: var(--white);
	color: var(--gray);
	padding: .3em .5em;
	border-radius: .2rem;
}

.tagCross {
	cursor: pointer;
	color: red;
	font-weight: bold;
	user-select: none;
}

.blueBtn {
    background-color: var(--dark);
    color: var(--white) ;
    border: none;
    box-shadow: none ;
    cursor: pointer;
    font-size: .9rem ;
    font-weight: 500 ;
    border-radius: 0.5rem ;
    padding: 0.5em 1em ;
    margin: 0 ; 
    width: max-content ;
    transition: all 0.3s ;

    display: flex ;
    align-items: center ; 
}

.blueBtn svg {
    color: var(--white) ;
    width: 16px ;
    height: 16px ;
}

.blueBtn:focus,
.blueBtn:active:focus {
    outline: 0 ;
    box-shadow: none ;
    background-color: var(--main) ;
    color: var(--white) ;
}

.blueBtn:hover  {
    background-color: var(--main) ;
    color: var(--white) ;
}

.formRow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch ;
    /* gap: 1em ; */
    /* Original ^, Specific to this project ⌄ */
    gap: 1.5em ;

}

.reqd {
    /* color: var(--red) ; */
    /* Original ^, Specific to this project ⌄ */
    color: var(--main) ;
}

/* -------------- Location -------------------- */

.locationField {
    display: flex ;
    flex-direction: column ;
    align-items: flex-start ; 
    max-width: 100% ;
}

.locText {
    font-weight: 500 ;
    font-size: .9rem ;
    margin: 0 ;
    color: var(--gray);
}

.locCon {
    display: flex ;
    gap: 1em ;
    align-items: center ;
}

.locationSelect {
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    align-items: center ;
    gap: .5em ;
}

.locCol {
    flex-direction: column ;
    width: 100% ;
}

@media (min-width: 600px) {
    .locCol {
        flex-direction: row ;
    }

    .formPhMob {
        display: none ;
    }

    .formRow {
        flex-direction: row;
    }
}

/* ------------------------------------- */

/* --------- Map Container --- --------- */

.mapContainer {
    padding: 1em 0 ;
    width: 100% ;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    gap: 1.5em ;

    position: relative;
}

.mapContainer .blueBtn {
    position: absolute;
    bottom: 2em;
    left: 50% ;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 1.1rem ;
}

/* ------------------------------------ */