/* =========================
   Layout
========================= */
.main{
  margin: 0 -4em;
}
.dashboard {
  display: flex;
  background: var(--bg);
  overflow: hidden;
}

.content {
  background: var(--bg);
  overflow-x: auto;
}
.heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--darkGray);
  margin: 0 !important;
}

/* =========================
   Sidebar
========================= */

.sidebar {
  width: 240px;
  min-height: 100vh;
  background: var(--second);
  color: var(--white);
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  padding: 1.5em 2em;
}

.brand {
  color: var(--main);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.menu {
  list-style: none;
  padding: 0 ;
  margin: 0 0 2rem 0;
}

.menu li {
  border-radius: 6px;
  cursor: pointer;
  color: var(--white);
  transition: background 0.2s ease;
}

.menu li:hover,
.active {
  background: var(--secondHalf);
}

/* =========================
   Table Header (Title + Search)
========================= */

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.tableHeader h1 {
  margin: 0;
  font-size: 1.4rem;
  color: var(--darkGray);
}

.search {
  width: 260px;
}

/* =========================
   Ant Design Table Overrides
========================= */

.fixing{
  padding: 0 1em;
}
.view{
  background-color: var(--second);
  color: var(--white);
  padding: 0.5em 1em;
  border-radius: 12px;
}
.view:hover{
  color: var(--white);
}
:global(.ant-table) {
  background: var(--white);
  border-radius: 16px;
  overflow: hidden;
}

:global(.ant-table-thead > tr > th) {
  background: var(--halfGray) !important;
  font-weight: 600;
  color: var(--gray);
}

:global(.ant-table-tbody > tr:hover > td) {
  background: var(--thodaMain) !important;
}

:global(.ant-pagination-item-active) {
  border-color: var(--main) !important;
}

:global(.ant-pagination-item-active a) {
  color: var(--main) !important;
}

/* =========================
   Badges / Status
========================= */

.success {
  color: var(--success);
  font-weight: 600;
}

/* =========================
   Modal Overrides
========================= */

:global(.ant-modal-content) {
  border-radius: 10px;
}

:global(.ant-modal-title) {
  font-weight: 600;
}

:global(.ant-descriptions-item-label) {
  font-weight: 500;
  color: var(--gray);
}

/* =========================
   Buttons
========================= */

:global(.ant-btn-primary) {
  background: var(--main);
  border-color: var(--main);
}

:global(.ant-btn-primary:hover) {
  background: var(--dark);
  border-color: var(--dark);
}

:global(.ant-btn-dangerous) {
  background: var(--main);
  border-color: var(--main);
}
