.contactBtn {
	position: absolute;
	z-index: 900;
	bottom: 2%;
	right: 15px;
	cursor: pointer;
	background-color: var(--white);
	border-radius: 50% ;
	border: 2px solid var(--main);
	padding: .5em;
	transition: all 0.1s;
}

.contactBtn svg {
	color: var(--main) ;
	height: 30px ;
	width: 30px ;
	transition: all 0.1s;
}

.contactBtn:hover {
	border: 2px solid var(--main);
}

.contactBtn:hover svg {
	color : var(--main);
}

.subPageContentHead {
	font-size: 1.25rem;
	font-weight: 500;
}

.contactForm {
	padding: 2em 1.5em ;
	min-width: 100vw;
}

.blackBtn {
	align-self: center ;
	background-color: var(--dark);
	border: 1px solid var(--dark);
	color: var(--white) ;
	box-shadow: none ;
	cursor: pointer;
	font-size: .9rem ;
	font-weight: 500 ;
	border-radius: 0.5rem ;
	padding: 0.5em 1em ;
	margin: 0 ; 
	width: max-content ;
	transition: all 0.3s ;
	
}

.blackBtn:focus,
.blackBtn:active:focus {
	outline: 0 ;
	box-shadow: none ;
	border: 1px solid var(--main);
	background-color: var(--main) ;
    color: var(--white) ;
}


@media (min-width: 600px) {

	.contactBtn {
		bottom: 5%;
		right: 25px;
	}

	.blackBtn:hover  {
		border: 1px solid var(--main);
		background-color: var(--main) ;
    	color: var(--white) ;
	}

	.contactForm {
		padding: 2em 1.5em ;
		min-width: 45vw;
	}
}