.loadingCon {
  display: flex ;
  justify-content: center;
  width: 100% ;
}

.ldsDualRing {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.ldsDualRing:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--main);
  border-color: var(--main) transparent var(--main) transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}