.blog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	width: 60vw;
	padding: 2em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainHead {
	display: flex;
	flex-direction: column;
	gap: .5em ;
	padding: 1em 0;
}

.mainHead p {
	margin: 0;
	align-self: center;
}

.mainHeadTitle {
	font-size: 2.4rem ;
	text-align: justify;
	color: var(--black);
	font-weight: 600;
}

.mainHeadSubHeading {
	font-weight: 500;
	color: var(--black);
}

.imageCon {
  position: relative;
  height: 2vw ;
  width: 2vw ;
  border: 1px solid var(--lightGray);
  border-radius: 5rem;
  overflow: hidden;
}

.authorDetails {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em ;
}

.authorDetails p {
	margin: 0;
	color : var(--medGray) ;
	font-size: .8rem;
}

.dotDiv {
	padding: .2rem;
	background-color: var(--medGray);
	border-radius: 2rem ;
}

.authorData {
	display: flex;
	gap: 1em ;
}

.authorData p {
	color : var(--main) ;
}

.blogBanner {
	display: flex ;
	background-size: cover ;
	background-repeat: no-repeat ;
	background-position: center center ;
	height: 40vw ;
	width: calc(100vw - 20px) ;
	position: relative ;
}

.blogBanner img {
	object-fit: cover;
	object-position: center;
}

.mainBody {
	display: flex;
	flex-direction: column;
	gap: 2em ;
	justify-content: center;
	text-align: justify;
	align-items: center;
	color: var(--black);
	padding: 2em 0 ;
}

.mainBody h3 {
	text-align: left;
}

.downBody {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 3em ;
}

.divLine {
	width: 100%;
    height: 1px;
    background-color: var(--lightGray);
}

.shareCon {
	display: flex;
	align-items: center;
	gap: 1em ;
	width: 100%;
}

.shareHead {
	margin: 0;
	font-size: 1.1rem ;
	font-weight: 600;
	color: var(--black);
}

.iconsCon {
	display: flex;
	gap: 1em ;
}

.iconBox {
    display: flex;
	justify-content: center;
	align-items: center;
	gap: .5em ;
	padding: .6em 1.3rem ;
	border-radius: 8px ;
}

.facebook   {   background-color: #3b5998;  }
.twitter    {   background-color: #1da1f2;  }
.linkedin   {   background-color: #0077b5;  }
.whatsapp   {   background-color: #25d366;  }
.instagram  {   background-color: #e4405f;  }

.iconsCon p {
	margin : 0 ;
	color : var(--white) ;
	font-size: .8rem;
}

.iconsCon svg {
	height: 20px ;
    width: 20px ;
	color: var(--white) ;
}

.blogFooter {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.blogFooter p {
	margin : 0 ;
}

.prevBlog {
	display: flex;
	flex-direction: column;
	gap: 1em ;
}

.blogFooterIconCon1 {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.blogFooterIconCon2 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	gap: 1em ;	
}

.blogFooterIconCon1 svg {
	height: 20px ;
    width: 20px ;
    color: var(--main) ;
    margin-right: 1em;
	transform: rotate(180deg);

}

.blogFooterIconCon2 svg {
	height: 20px ;
    width: 20px ;
    color: var(--main) ;
}

.blogNavText {
    font-weight: 500;
    color: var(--main) ;
}

.nextBlog {
	display: flex;
    flex-direction: column;
	gap: 1em ;
}

.blogTitleText {
	font-size: .9rem;
	font-weight: 600;
}

.commentMainSection {
	display: flex;
	flex-direction: column;
	gap: 2em ;
}

.commentMainSection p {
	margin: 0;
}

.commentHeading {
	font-size: 1.2rem;
	font-weight: 600;
}

.commentBoxCon {
	display: flex;
    flex-direction: column;
    gap: 4em ;
}

.commentBox {
	display: flex;
	align-items: center;
    gap: 1.5em ;
}

.commentImage {
	display: flex ;
	background-size: cover ;
	background-repeat: no-repeat ;
	background-position: center center ;
	border-radius: 50% ;
	height: 5vw ;
	width: 5vw ;
	position: relative ;
	overflow: hidden;
}

.commentBody {
	display: flex;
    flex-direction: column;
	flex-basis: 85% ;
	gap: 1em ;
	justify-content: center;
}

.commentBodyTop {
	display: flex;
	justify-content: space-between;
}

.commentAuthor {
    font-weight: 600;
}

.commentDate {
	font-size:.8rem;
    color: var(--medGray);
}

.commentText {
	font-size:.9rem;
    font-weight: 500;
	color: var(--medGray);
}

.commentForm {
	display: flex;
    flex-direction: column;
    gap: 3em ;
	border: 1px solid var(--lightGray);
	padding: 1em ;
	border-radius: 8px;
}

.commentFormHeading {
	color: var(--black);
	margin: 0 ;
	font-size: 1.2rem;
	font-weight: 600;
}

.blackBtn {
    align-self: flex-start ;
    background-color: var(--main);
    color: var(--black) ;
    border: none;
    box-shadow: none ;
    cursor: pointer;
    font-weight: 500 ;
    border-radius: 0.25rem ;
    padding: 0.5em 2em ;
    margin: 0 ; 
    width: max-content ;
    transition: all 0.3s ;
}

.blackBtn:focus, .blackBtn:active:focus, .blackBtn:hover  {
    outline: 0 ;
    box-shadow: none ;
    background-color: var(--dark) ;
    color: var(--black) ;
}

/* For Mobile */
@media (max-width: 600px) {
	.main {
		width: 90vw;
		padding: 0;
	}
	
	.mainHead {
		gap: .5em ;
		padding: 1em 0;
	}

	.mainHeadTitle {
		font-size: 1.7rem ;
		text-align: left ;
		line-height: 2rem ;
	}
	
	.mainHeadSubHeading {
		font-size: .9rem ;
	}
	
	.imageCon {
	  height: 2vw ;
	  width: 2vw ;
	}
	
	.authorDetails {
		gap: 1em ;
	}
	
	.authorDetails p {
		font-size: .8rem;
	}
	
	.dotDiv {
		padding: .2rem;
	}
	
	.blogBanner {
		height: 36vw ;
		width: 90vw ;
	}
	
	.mainBody {
		gap: 2em ;
		padding: 2em 0 ;
	}
	
	.downBody {
		width: 100%;
		gap: 2em ;
	}
	
	.divLine {
		width: 100%;
		height: 1px;
	}
	
	.shareCon {
		gap: 1em ;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}
	
	.shareHead {
		font-size: 1.1rem ;
	}
	
	.iconsCon {
		gap: 1em ;
		flex-wrap: wrap;
	}
	
	.iconBox {
		gap: .5em ;
		padding: .6em 1em ;
	}
	
	.iconsCon p {
		font-size: .8rem;
	}
	
	.iconsCon svg {
		height: 20px ;
		width: 20px ;
	}
	
	.blogFooter {
		width: 100%;
	}
	
	.prevBlog {
		gap: 1em ;
	}

	.blogNavText {
		font-size: .9rem ;
	}
	
	.blogFooterIconCon2 {
		gap: 1em ;	
	}
	
	.blogFooterIconCon1 svg {
		height: 20px ;
		width: 20px ;
		margin-right: 1em;
	
	}
	
	.blogFooterIconCon2 svg {
		height: 20px ;
		width: 20px ;
	}
	
	.nextBlog {
		gap: 1em ;
	}
	
	.blogTitleText {
		font-size: .7rem;
	}
	
	.commentMainSection {
		gap: 2em ;
	}
	
	.commentHeading {
		font-size: 1rem;
	}
	
	.commentBoxCon {
		gap: 4em ;
	}
	
	.commentBox {
		gap: 1.5em ;
	}
	
	.commentImage {
		height: 5vw ;
		width: 5vw ;
	}
	
	.commentBody {
		flex-basis: 85% ;
		gap: 1em ;
	}
	
	.commentDate {
		font-size:.8rem;
	}
	
	.commentText {
		font-size:.9rem;
	}
	
	.commentForm {
		gap: 3em ;
		padding: 1em ;
	}
	
	.commentFormHeading {
		font-size: 1.2rem;
	}
	
	.blackBtn {
		padding: 0.5em 2em ;
		margin: 0 ; 
	}
}