.sliderCon {
  margin: 0 -4em ;
  height: 60vw ;
  width: calc(100vw - 15px);
  position: relative;
}

.heroSliderImg {
  object-fit: cover;
}

@media (min-width: 1550px) {
  /* .sliderCon {
    margin: 0 -14em ;
  } */
}

@media (max-width: 600px) {
  .sliderCon {
    margin: 0 -1em ;
    width: calc(100vw - 0px);
  }

}