.artGalleryMain {
  display: flex;
  flex-direction: column;
  gap: 2em ;
}

.container {
  padding: 0 4em 4em ;
  display: flex ;
  flex-direction: column ;
  align-items: center ;
  gap: 2em ;
  margin: 0 -4em ;
}

.subTitle {
  text-align: center;
  color: var(--gray);
  margin: 0 ;
}

.subHeading {
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  line-height: normal ;
  color: var(--black) ;
  text-transform: uppercase ;
  margin: 0 ;
}

.pageSubHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5em;
  width: 100% ;
  margin-top: 2em ;
}

.grid {
  padding: 3em;
  background-image: url('../../public/portfolio-bg-light.png');
  background-attachment: fixed;
  column-count: 4 ;
  column-gap: 3em;
  row-gap: 3em;
  justify-content: center;
  margin: 0 -4em ;
}
.card {
  position: relative;
  overflow: hidden;
  border: 10px inset var(--gray);
  display: inline-block ;
  width: 100%;
  margin-bottom: 2em;
  cursor: pointer;
}
.img {
  width: 100%;
  height: auto;
  display: block;
  border: 10px solid var(--white) ;
  transition: transform 0.3s;
}
.card:hover .img {
  transform: scale(1.05);
}
.overlay {
  text-transform: capitalize ;
  position: absolute;
  inset: 0; 
  background: var(--halfPink);
  color: var(--white);
  padding: 2em;
  display: flex ;
  align-items: center ;
  justify-content: center ;

  opacity: 0;
  transition: opacity 0.3s;
}
.card:hover .overlay {
  opacity: 1;
}

@media (max-width: 600px) {
  .artGalleryMain {
    gap: 1em ;
  }

  .container {
    padding: 0 2em 1em ;
    gap: 1em ;
    margin: 0 -1em ;
  }

  .subHeading {
    font-size: 2em;
  }

  .pageSubHeader {
    margin-top: 1em ;
  }

  .grid {
    padding: 1em;
    column-count: 2 ;
    column-gap: 1em;
    row-gap: 1em;
    margin: 0 -2em ;
  }

  .card {
    border: 5px inset var(--gray);
  }

  .img {
    border: 5px solid var(--white) ;
  }
}