/* page.module.css */

.main {
  display: flex;
  flex-direction: column;
  color: var(--black);
  position: relative;
  gap: 3rem;
}
.startHead {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main_bread {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  color: var(--black);
}
.breadContent {
  font-weight: 700;
  font-size: 36px;
  line-height: 50.4px;
  color: var(--black);
}
.headSection {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.headContent {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
  margin: 0 !important;
}
.headDesc {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.headImg{
  background-size: cover;
  width: 100%;
}
/* Responsive Grid: 2 columns on tablet, 3 on desktop */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.section {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border: 1px solid var(--darkWhite);
  border-radius: 30px;
  background-color: var(--white);
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 6px -1px var(--thodaBlack);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card:hover {
  box-shadow: 0 10px 25px -5px var(--zaraBlack);
}

.imageContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
}

/* Container for the black circle */
.iconBadge {
  width: 60px;
  height: 60px;
  background-color: var(--black);
  border-radius: 10px;
  /* --- CENTERING MAGIC --- */
  display: flex;
  align-items: center;
  justify-content: center;
  /* ----------------------- */
  z-index: 2;
  overflow: hidden; /* Keeps image inside the circle if it's too big */
}
.iconWrapper{
  min-height: 25px;
  min-width: 25px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black);
  /* margin-bottom: 0.75rem; */
  transition: all ease 0.4s;
}
.title:hover {
  color: var(--main);
}
.desc {
  font-size: 0.95rem;
  line-height: 1.6;
  overflow: hidden;
  color: var(--gray);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.readMore {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--halkaBlack);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px; /* Space between text and arrow if you add one */
  transition: color 0.2s;
  margin-top: -0.7rem;
}

.readMore:hover {
  color: var(--main);
  text-decoration: underline;
}
