
.menu p {
	margin: 0 ;
}

.mainMenuHead {
	display: flex ;
	gap: .75em ;
	align-items: center ;
}

.menuBody {
	background-color: var(--white) ;
	border-top: 1px solid var(--darkWhite) ;
}

.mainMenu {
	display: flex ;
	flex-direction: column ;
	height: 100% ;
}

.mainMenuTop {
	display: flex; 
	flex-direction: column ;
	gap: 1em ;
	padding: 1em ;
	border-top: 1px solid var(--darkWhite) ;
}

.menuItem {
	display: flex ;
	align-items: center ;
	gap: 1em ;
	color: var(--medGray) ;
	padding: .5em 1em ;
	border-radius: .5rem ;
	text-decoration: none ;
	font-weight: 500;
}

.menuItem svg {
	width: 24px ;
	height: 24px ;
}

.menuItem.selected {
	color: var(--main) ;
	background-color: var(--thodaMain) ;
}

.menuText {
	font-size: 1.1rem ;
	margin: 0 ;
	flex-grow: 2;
}

.dd {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.arrowMain {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.ddMenu {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: .5em ;
}

.ddItem {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: .8rem;
	padding: .5em 1em ;
	border-radius: .5rem ;
}

.ddItem.selected {
	color: var(--main) ;
	background-color: var(--thodaMain) ;
}

.ddItem svg {
	width: 16px ;
	height: 16px ;
}

.ddArrow {
	transform:  rotate(90deg) ;
	transition: all .2s ;
}

.ddArrow.true {
	transform: rotate(270deg) ;
}

@media (min-width: 600px) {
	.menu {
		display: none ;
	}
}